:root {
    --darkThemeHeader: rgb(10, 10, 30);
    --darkThemeBackground: rgb(7, 12, 56);
    --darkThemeHighlight1: rgb(23, 13, 75);
    --darkThemeHighlight2: rgb(49, 49, 49);
    --darkThemeShadow: rgb(150, 158, 230);

    --darkThemeText: white;
}

* {
    margin: 0;
    
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;

    box-sizing: border-box;
}

header {
    margin: 0;
    padding: 0;
    height: 110px;

    background-color: var(--darkThemeHeader);
    color: var(--darkThemeText);
}

.navigation {
    margin-top: 10px;
}

.navigation a {
    border:2px solid var(--darkThemeHighlight2);
    background-color: var(--darkThemeBackground);
    border-radius: 10px;
    width:100px;
    height:100px;
    color: var(--darkThemeText);
    box-shadow: 2px 3px 1px 0px var(--darkThemeShadow);
    margin: 5px;
    padding: 5px;
}

/* This targets nav and then a which is fun */
.navigation a:hover {
    opacity: 0.5;
}

main {
    background-color: var(--darkThemeHighlight1);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: var(--darkThemeHighlight1);
}
/*----------------------------------------------------------------------------------------------*/