.signup-parent {
    position: absolute;
    bottom: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    margin: 15px 0px 15px 0px;
    border-radius: 15px;
    background-color: var(--darkThemeBackground);
    color: white;
    box-shadow: 7px 10px 5px 0px var(--darkThemeHighlight2);
}

.signup {
    width: 50%;
    margin: 10px 0px 0px 0px;
    border-radius: 15px;
}
